.login,
form,
.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 90vw;
    background-color: transparent;
    
    padding: 10px;
}

.loginInput {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 95%;
    margin: 10px;
    font-size: 1.5em;
    max-width: 75vw;
}

label {
    font-size: 1.5em;
    text-align: left; /* Ensure labels are aligned to the left */
    width: 100%; /* Make sure the label takes full width */
    max-width: 75vw;
}

.loginBtn {
    padding: 10px !important;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    width: 102%;
    max-width: 75vw;
    margin: 10px;
}

p {
    font-size: 1.5em !important;
    margin: 10px;
    text-align: left; /* Ensure paragraphs are aligned to the left */
    width: 100%; /* Make sure the paragraph takes full width */
    max-width: 75vw;
}

label,
p {
    text-align: left !important; /* Ensure labels and paragraphs are aligned to the left */
}

@media (max-width: 500px) {
  .login,
  form,
  .user {
      height: auto;
      padding: 5px;
  }

  .loginInput,
  .loginBtn,
  label {
      font-size: 1em;
      max-width: 90vw;
  }


  p {
      font-size: 1em !important;
      max-width: 90vw;
  }
}