body {
  font-family: 'Montserrat Alternates';
  background: #d3d3d3;
  background: radial-gradient(circle, rgba(243,234,232,1) 65%, rgba(32,218,216,1) 100%);
  background-image: url('../assets/gras-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-weight: bold;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none; /* Für Chrome, Safari und andere WebKit-basierte Browser */
}